.weather-icon {
  &_01d {
    background: url(../../icons/weather-svg/01d.svg) center no-repeat;
    background-size: 90% 90%;
  }

  &_02d {
    background: url(../../icons/weather-svg/02d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_03d {
    background: url(../../icons/weather-svg/03d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_04d {
    background: url(../../icons/weather-svg/04d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_09d {
    background: url(../../icons/weather-svg/09d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_10d {
    background: url(../../icons/weather-svg/10d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_13d {
    background: url(../../icons/weather-svg/13d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_01n {
    background: url(../../icons/weather-svg/01n.svg) center no-repeat;
    background-size: 90% 90%;
  }

  &_02n {
    background: url(../../icons/weather-svg/02n.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_03n {
    background: url(../../icons/weather-svg/03d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_04n {
    background: url(../../icons/weather-svg/04d.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_09n {
    background: url(../../icons/weather-svg/09n.svg) center no-repeat;
    background-size: 100% 100%;
  }

  &_10n {
    background: url(../../icons/weather-svg/10n.svg) center no-repeat;
    background-size: 100% 100%;
  }
  &_13n {
    background: url(../../icons/weather-svg/13n.svg) center no-repeat;
    background-size: 100% 100%;
  }
  &_50n {
    background: url(../../icons/weather-svg/050t.svg) center no-repeat;
    background-size: 100% 100%;
  }
  &_50d {
    background: url(../../icons/weather-svg/050t.svg) center no-repeat;
    background-size: 100% 100%;
  }
}
