.forecast-daily__item {
  box-sizing: border-box;
  padding: 6px 8px;
  position: relative;

  @include screen(700px) {
    flex-grow: 1;
  }

  @include screen(900px) {
    padding: 0 8px 44px 8px;
  }
}
