.current-weather__weather-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: -15px -15px;

  & .tempreture-data__value {
    min-width: 60px;
    text-align: center;
  }

  & > div {
    margin: 15px;

    &:first-child {
      min-width: 170px;
    }
  }

  @include screen(675px) {
    margin: 35px -15px 0 -15px;
    justify-content: center;
  }
}
