.current-weather__weather-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: -15px -15px;

  & > div {
    margin: 15px;

    &:first-child {
      min-width: 170px;
    }
  }

  @include screen(600px) {
    justify-content: space-around;
    margin: 0 -15px;
  }
}
